.container {
  display: flex;
  justify-content: space-around;
  padding: 5vw;
}

.section {
  width: 50%;
  margin: 0 15px;
}

.list {
  width: 100%;
  border: 1px solid grey;
  border-radius: 5px;
}

.listElement {
  padding: 5px 30px;
  border-bottom: 1px solid grey;
}
