.list {
  margin: 0;
}

.bar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(128, 128, 128, 0.671);
  margin: 10px 20px;
  padding-bottom: 20px;
  align-items: center;
}

.logoLetters {
  font-size: 2.5em;
  font-weight: 500;
  margin-left: 20px;
}

.bar ul {
  list-style: none;
  display: flex;
}

.link {
  padding: 10px;
  text-decoration: none;
}

.active {
  text-decoration: underline;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.ListContainer {
  margin: 0;
}
